@import "../../assets/scss/index.scss";

.c-controlls{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    align-items: center;
    .c-controlls__previous{
        border-radius: 2rem 0 0 2rem;
        margin-left: 30%;
    }
    .c-controlls__next{
        margin-right: 30%;
        border-radius: 0 2rem 2rem 0;
        justify-self: end;
    }
    .c-controlls__previous, .c-controlls__next{
        background-color: $white;
        width: 90px;
        height: 50px;
        color: $grey;
        box-shadow: 0px 4px 9px 0px $grey;
        display: grid;
        justify-items: center;
        align-items: center;
        .c-controlls__previous__icon, .c-controlls__next__icon{
            max-width: 30px;
        }
    }
    .c-controlls__mute, .c-controlls__loop {
        width: 30px;
        height: 30px;
        color: $grey;
    }
    .c-controlls__mute {
        justify-self: flex-end;
    }
    .c-controlls__loop {
        justify-self: flex-start;
    }
    .c-controlls__loop--active {
        color: $black;
    }

    .c-controlls__play{ 
        width: 88px;
        height: 88px;
        background-color: $primary;
        border-radius: 50%;
        border:none;
        overflow: hidden;
        box-shadow: 0px 4px 9px 0px $primary;
        z-index: 1;

        .c-controlls__play__icon{
            fill: $white;
            transform: scale(0.7,0.7);
        }
    }
}