@import "../../assets/scss/index.scss";

.c-artist-side-panel {
    .c-artist-side-panel__tag {
        background-color: $primary;
        color: $white;
        border-radius: 15px;
        padding:  5px 15px;
    }
}